.contact {
  margin-top: 2rem;
  .contact_content {
    background-color: var(--color-light);
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .content_contact_left {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .title_desc {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h1 {
          font-weight: var(--fw-700);
        }
        .desc {
          font-weight: var(--fw-300);
          font-size: var(--fs-sm);
        }
      }
      .form_contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .form-group {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          label {
            font-size: var(--fs-sm);
          }
        }
        .save_contact {
          border: none;
          outline: none;
          background-color: var(--color-green);
          padding: 0.5rem 0;
          font-size: var(--fs-md);
          font-weight: var(--fw-700);
          border-radius: 5px;
        }
      }
    }
    .content_contact_right {
      padding: 2rem;
      background-color: #2e2e31;
      color: var(--color-light);
      .contact_us {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h3 {
          font-weight: var(--fw-700);
        }
        .content_contact_us {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem 0;
          li {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            div {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              p {
                font-weight: var(--fw-100);
              }
              i,
              p {
                font-size: var(--fs-12);
              }
            }
            strong {
              font-size: var(--fs-12);
              padding-left: 1.15rem;
            }
          }
        }
      }
      .social {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h3 {
          font-weight: var(--fw-700);
        }
        ul {
          display: flex;
          gap: 1rem;
          li {
            i {
              border: 1px solid white;
              padding: 1rem;
              width: 50px;
              aspect-ratio: 1/1;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: var(--fs-xl);
              cursor: pointer;
            }
          }
        }
      }
      .image_brands {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        img {
          width: 200px;
        }
      }
    }
  }
}
